*{
    margin: 0;
    padding: 0;
}

.heading{
    background-color: black;
    color: white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px; 
    width: 165px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;
}

.choice:hover{
    opacity: .5;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,#comp-score{
    font-size: 5rem;
}

.message{
    display: flex;
    justify-content: center;
    /* display: inline-block; */
}

#mess{
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    font-size: 2rem;
    padding: 10px;
}